<nav id="nav">
  <h3 id="headerramfishtitle">RamBin</h3>
  

  <label for="drop" class="toggle2"><i class="fa fa-bars"></i></label>
  <input type="checkbox" id="drop" />

  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="#coming_soon">About</a></li>
    <li><a href="#coming_soon">Gallery</a></li>
    
    <!--
    <li>
      <button class="loginbutton" type="button" onclick="location.href = '/api/discord/login'" id="log">Login</button>
    </li>
    
    <li>         
      <label for="drop-3">
        <div id="avatarDiv">

        </div>
      </label>
      <input type="checkbox" id="drop-3"/>
      <div id="profileNavDropdown" class="nav-dropdown-content">
        <a href="javascript: void(0)" onclick="location.href = '#'">Profile</a>
        <a href="javascript: void(0)" onclick="location.href = '#'">My bins</a>
        <a href="javascript: void(0)" onclick="location.href = '#'">Settings</a>
        <div class="nav-dropdown-content-line">

        </div>
        <a onclick="logout()" style="color: red; cursor: pointer;"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </li>
  -->
  </ul>
</nav>